*.java
!util.java
!ImageIter.java
!test/*.java
!java/h2o/deepwater/test/InceptionCLI.java
*.o
*.so
*.d
*.dylib
*.class
*_wrap.cxx
*.jar
*.png
.ycm_extra_conf.pyc
.ycm_extra_conf.py
*.pyc
*.jpg
*.txt
*.swp
*-ubyte
*.rec
*.bin
*.lst
*.tar.gz
*.zip
