backends/mxnet/*.java
!backends/mxnet/util.java
!backends/mxnet/ImageIter.java
!backends/mxnet/test/*.java
!backends/mxnet/java/h2o/deepwater/test/InceptionCLI.java
*.o
*.so
*.d
*.dylib
*.class
*_wrap.cxx
*.jar
*.png
.ycm_extra_conf.pyc
.ycm_extra_conf.py
*.pyc
*.jpg
*.txt
*.swp
*-ubyte
*.rec
*.bin
*.lst
*.tar.gz
*.zip
backends/mxnet/test/*-cpp.json
build
.idea
.gradle
.cproject
.project
