[submodule "thirdparty/mxnet"]
	path = thirdparty/mxnet
	url = https://github.com/h2oai/mxnet.git
[submodule "thirdparty/javacpp-presets"]
	path = thirdparty/javacpp-presets
	url = https://github.com/h2oai/javacpp-presets
